clearml~=1.16
comet-ml~=3.47
datasets~=3.1.0
emoji~=1.6.3
fastapi
git+https://github.com/sdy623/fast-bert.git
litserve~=0.2.4
lightning~=2.4.0
matplotlib~=3.6.2
nltk~=3.9.1
numpy~=1.26.4
optuna~=4.0.0
optuna-dashboard~=0.17.0
ray==2.38.0
ray[tune]
ray[serve]
scikit-learn~=1.5.1
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
transformers~=4.43
torchmetrics~=1.4.0
uvicorn~=0.32